<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Spring Security Example</title>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>

<div class="container">
    <br /><br /><br />
    <h2>Profile</h2>
    <div class="col-xs-3" th:each="photo : ${newphoto}">
            <div th:utext="${photo.image}"></div>
            <div th:utext="${photo.id}"></div>
            <img th:utext="${photo.username}" style="position:absolute; width: 200px;" />
                      
            <a th:href="@{/delete/{id} (id = ${photo.id})}" >Delete</a> 
        </tr>
</div><!-- /.container -->

<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>


